/* Global */
body{
  margin-top: 10px;
  background-color: black;
}
p{
  color:white;
}
h1{
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
}
/* Login */
.login{
padding: 10px;
max-width:350px;
margin:auto;
background-color: #808080;
}
.login-inputs{
  margin:1px;
}
