/* Global */
body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/Abstract-Artwork-_1237.jpg") ;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
}
p{
  color:white;
}
h1{
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
}
/* Home */
.home-content{
  padding: 10px;
}
/* Server Page */
.servers-container{
  padding: 10px;
}
.server-content-container{
  width:100%;
  border: 1px solid black;
  overflow: hidden;
}
.server-content-left{
  width: 300px;
  float:left; /* add this */
  border: 1px solid red;
}
.server-content-right{
  border: 1px solid green;
  overflow: hidden; 
}
