/* PACE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #808080;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}

.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
/* Global */
body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/59/Wikimedia_Foundation_Servers-8055_14.jpg") ;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
}
p{
  color:white;
}
h1{
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
}
.footer {
    padding-top:10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,1);
    text-align: center;
}
/* Home */
.home-container{
  padding: 10px;
}
/* Server Page */
.servers-container{
  padding: 10px;
}
.server-content-container{
  width:100%;
  overflow: hidden;
}
.server-content-left{
  width: 50%;
  float:left;
}
.server-content-right{
  overflow: hidden;
}
/* Backup Page */
.backup-container{
  padding: 10px;
}
.backup-content-container{
  width: 100%;
  overflow: hidden;
}
.backup-content-left{
  width: 50%;
  float:left;
}
.backup-content-right{
  overflow:hidden;
}
/* Computers Page */
.computers-container{
   padding:10px;
}
/* Report Page */
.report-container{
  padding: 10px;
}
.report-iframe{
  position: absolute;
  height: 90%;
  width: 99%;
  border: none
}
/* Costs Page */
.costs-container{
  padding:10px;
}
